.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv
bin/
lib/
include/

.vscode/
.idea/
*.swp
*.swo

dist/
build/
*.egg-info/
*.spec
*.log
*.sqlite
*.db
